<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3 | Page 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2><i>Fire On The Beach</i></h2>
  <img
    src="http://www.sandiegomagazine.com/images/cache/cache_3/cache_8/cache_5/best-beach-bonfire-spots-ecf75583.jpeg?ver=1558116323&aspectratio=1.4953271028037"
    width="100%"
    height="auto"
    style="border-radius:10px"
  />
  <p style= font-family:Georgia>
    Once we fully recovered from the exhausting hike, a plan needed to be made
    for what to do next. Our daylight window was getting smaller and smaller, so
    time was of the essence. In order to enjoy the rest of the daylight and
    transition nicely into the evening, we decided to grab some food, wine, and
    fire wood. Once the items were procured, we found a beach that had first
    come- first serve fire pits. Fortunately, we arrive just before a huge wave
    of people came onto the beach and took up the rest of the fire pits. We took
    pictures of the beautiful sun set and tried to get some good photos of us
    siblings. The California wine was tasty, the firewood was aromatic, and the
    bites of food were all we needed for everything to be perfect.
  </p>
  <ion-button
    color="dark"
    expand="block"
    [routerDirection]="'root'"
    [routerLink]="['/chapter4']"
    >Next Chapter</ion-button
  >
  <ion-button
    color="medium"
    expand="block"
    [routerDirection]="'root'"
    [routerLink]="['/chapter2']"
    >Previous Chapter</ion-button
  >
  <ion-button
    color="light"
    expand="block"
    [routerDirection]="'root'"
    [routerLink]="['/toc']"
    >Back to Table Of Contents</ion-button
  >
</ion-content>
