<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2 | Page 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2><i>Joshua Tree</i></h2>
  <img
    src="https://upload.wikimedia.org/wikipedia/commons/4/49/Joshua_Tree_01.jpg"
    width="100%"
    height="auto"
    style="border-radius:10px"
  />
  <p style= font-family:Georgia>
    We started out the new year right by taking a drive to Joshua Tree National
    Park. There, we hiked until the sun went down. We saw cacti, succulents,
    yucca trees, and jack rabbits. There was so much beautiful creation to take
    in. We ended the evening with pizza, pasta, and a hot tub! The following
    morning, we got up and took another hike to 49 palms oasis. In the middle of
    no where pops out a bunch of palm trees and running water. It was very cool
    to see with my own eyes. After that, we drove back to L.A. and enjoyed some
    much-needed relaxation after all of the hiking we did.
  </p>
  <ion-button
    color="dark"
    expand="block"
    [routerDirection]="'root'"
    [routerLink]="['/chapter3']"
    >Next Chapter</ion-button
  >
  <ion-button
    color="medium"
    expand="block"
    [routerDirection]="'root'"
    [routerLink]="['/chapter1']"
    >Previous Chapter</ion-button
  >
  <ion-button
    color="light"
    expand="block"
    [routerDirection]="'root'"
    [routerLink]="['/toc']"
    >Back to Table Of Contents</ion-button
  >
</ion-content>
