<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1 | Page 1</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2><i>The Last Day Of 2019</i></h2>
  <img
    src="https://images.wallpaperscraft.com/image/porthole_window_plane_122529_1920x1200.jpg"
    width="100%"
    height="auto"
    style="border-radius:10px"
  />
  <p style= font-family:Georgia>
    On the last day of the year, I decided to fly out to Los Angeles to visit my
    sister Lisa who moved there about 4 months prior. I flew out at 6:42 AM
    eastern time and landed around 8:45 AM pacific time. After a smooth flight
    and two cups of coffee, I jumped into an Uber heading for West Hollywood.
    When I arrived at my sister’s apartment, I decided to walk around the block
    a little before I made my appearance. The weather was too beautiful, I
    couldn't help it. As I was making my way around the block, I came across a
    tiny lady selling some tamales on the sidewalk. The wonderful smell of the
    tamales pushes me to buy one. We made the exchange and I went on my way. I
    savored every bite of this tamale. It was so good, I went back and bought
    two more, one for me, and one for my sister. Eventually, I made my way back
    to her apartment and I was greeted with screaming and hugs. We talked for
    hours and spent the rest of the daylight on the roof of her apartment where
    the Hollywood sign was in perfect view just in front of distant snow-capped
    mountains. The last evening of the year ended at a dance club with a full
    light show. It was literally the best way to bring in the new year, dancing
    and being merry with family!
  </p>
  <ion-button
    color="dark"
    expand="block"
    [routerDirection]="'root'"
    [routerLink]="['/chapter2']"
    >Next Chapter</ion-button
  >
  <ion-button
    color="light"
    expand="block"
    [routerDirection]="'root'"
    [routerLink]="['/toc']"
    >Back to Table Of Contents</ion-button
  >
</ion-content>
